<!DOCTYPE html>
<html lang="en">
<head>
    <title>OAuth Demo</title>
    <meta name="Corey Savage" content="Website by: Corey Savage" />
    <link rel="stylesheet" type="text/css" href="/static/style-v4.0.css">
</head>
<body>

	<div class="landing">
		<h1>Savy's OAuth 2.0 Demo</h1>
    </div>
    <div class="info">
	    <h2>{{ greeting }}{{ userName }}!</h2>

	    {% if guest is defined %}
	    <div class="textBox">
	    <p>This is a simple website built to demonstrate authenticating with OAuth 2.0. The site implements an OAuth 2.0 Server Side flow without using 
	    3rd party OAuth libraries. The demo is deployed on the Google Cloud Platform, and built with Python, HTML, and CSS.
	    </p>
	    <p><strong>Source Code:</strong> <a href="https://github.com/CoreySavage/OAuth2_Demo">https://github.com/CoreySavage/OAuth2_Demo</a></p>
	    <p><strong>How to use:</strong> To authenticate using OAuth 2.0, press the red button below and select the Google account you wish to use for your authentication. 
	    Authentication is done through Google+, and after successfully authenticating you will be able to view some basic information about yourself provided by Google.
	    No personal information is saved in the OAuth 2.0 process. </p>
	    </div>
	    <form class="oauth" action="https://oauth2demo-167110.appspot.com" method="post">
	    		<button>Authenticate With Google</button>
	    </form>
	    {% endif %}

	    {% if userName is defined %}
	    <div class="textBox">
	    <p>Good job, you successfully authenticated through OAuth 2.0! Here is some information gathered from the authentification process.
	    </p>
	    <p><strong>Google+ URL: </strong><a href="{{ userURL }}">{{ userURL }}</a></p>
	    <p><strong>Secret Key:</strong> {{ secret_key }}  </p>
	    </div>


	    {% endif %}
    </div>

</body>
</html>


